<template>
  <div class="about">
    <h1>About</h1>
    <p>
      This application was created as part of a semester project on CTU for subject KAJ - Client Applications in
      Javascript.
    </p>
    <p>
      Project source can be found <a href='https://gitlab.fel.cvut.cz/rihavit/kaj-tictactoe' target='_blank'>here</a>.
    </p>
    <p>
      Author: Vít Říha
    </p>
  </div>
</template>

<script>
export default {
  title: 'About'
};
</script>
