<template>
  <div id="home">
    <section id='control-panel'>
      <button class='btn' @click.prevent='gameModel.undoMove()'>Undo</button>
      <button class='btn' @click.prevent='gameModel.resetGame()'>Restart game</button>
      <button class='btn' @click.prevent='gameModel.resetScore()'>Reset score</button>
    </section>
    <player-view @change='handlePlayerChange' id='p1' ref='p1' :player='playerModels[0]'></player-view>
    <div id='gameWrap'>
      <div :class='{"game-over-overlay": true, hidden: gameModel.winner === null}'>
        <span>{{ winnerName }} wins!</span>
        <div class='btn-group'>
          <button class='btn' @click.prevent='gameModel.undoMove()'>Undo last move</button>
          <button class='btn' @click.prevent='gameModel.resetGame()'>New game</button>
        </div>
      </div>
      <game-view
        id='game' ref='game' :colors='playerModels.map(player => player.color)'
        :board='gameModel.board' :size='size' :squareSize='squareSize' :turn='gameModel.turn'
        @move='handleMove' :winningLine='gameModel.winningLine'
      ></game-view>
    </div>
    <player-view @change='handlePlayerChange' id='p2' ref='p2' :player='playerModels[1]'></player-view>
  </div>
</template>

<script>
import GameModel from '../model/Game.js';
import PlayerModel from '../model/Player.js';
import GameView from '../components/Game';
import PlayerView from '../components/Player';

const clickSound = new Audio(require('@/assets/click.mp3'));
clickSound.volume = 0.2;

export default {
  name: 'Home',
  components: {
    GameView,
    PlayerView
  },
  created() {
    this.loadStoredData();
  },
  watch: {
    gameModel: {
      deep: true,
      handler(newGame) {
        this.playerModels[0].score = newGame.score[0];
        this.playerModels[1].score = newGame.score[1];
        localStorage.setItem('game', JSON.stringify(this.gameModel));
      }
    }
  },
  computed: {
    winnerName() {
      if (this.gameModel.winner == null) return null;
      return this.playerModels[this.gameModel.winner].name;
    }
  },
  methods: {
    handleMove(e) {
      if (this.gameModel.turn !== this.gameModel.recordMove(e.x, e.y)) {
        clickSound.play();
      }
    },
    handlePlayerChange() {
      for (let i = 0; i < 2; i++) {
        if (this.playerModels[i].name.trim() === '') {
          this.playerModels[i].name = `Player ${i + 1}`;
        }
      }
      localStorage.setItem('players', JSON.stringify(this.playerModels));
    },
    loadStoredData() {
      try {
        const stored = JSON.parse(localStorage.getItem('game'));
        Object.setPrototypeOf(stored, GameModel.prototype);
        this.gameModel = stored || new GameModel(this.size);
      } catch (e) {
        localStorage.removeItem('game');
        this.gameModel = new GameModel(this.size);
      }
      try {
        const stored = JSON.parse(localStorage.getItem('players'));
        for (const player of stored) {
          Object.setPrototypeOf(player, PlayerModel.prototype);
        }
        this.playerModels = stored || [
          new PlayerModel('Player 1', '#ff6363', 0),
          new PlayerModel('Player 2', '#ffbd69', 0)
        ];
      } catch (e) {
        localStorage.removeItem('players');
        this.playerModels = [
          new PlayerModel('Player 1', '#ff6363', 0),
          new PlayerModel('Player 2', '#ffbd69', 0)
        ];
      }
    }
  },
  data() {
    return {
      gameModel: GameModel.prototype,
      playerModels: Array,
      squareSize: 45,
      size: 15
    };
  }
};
</script>

<style lang='scss' scoped>
  #home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #gameWrap {
    margin: 0 10px 0 10px;
  }

  #control-panel {
    width: 100%;
  }

  .game-over-overlay {
    position: absolute;
    z-index: 10;
    width: 679px;
    height: 679px;
    background-color: #00000050;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span {
      font-size: xx-large;
    }
  }

  .hidden {
    display: none;
  }

  @media screen and (max-width: 1035px) {
    #home {
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    #control-panel {
      order: 1;
    }
    #gameWrap {
      order: 2;
    }
  }
</style>
