<template>
  <div class='game-view'>
    <canvas id='boardLayer' :width='canvasSize' :height='canvasSize'></canvas>
    <canvas id='stonesLayer' @mouseout='handleMouseOut' @mousemove='handleMouseMove'
            @click='handleClick' :width='canvasSize' :height='canvasSize'
    ></canvas>
  </div>
</template>

<script>
import Game from '../model/Game';

export default {
  name: 'Game',
  data() {
    return {
      canvasSize: this.size * this.squareSize,
      timestamp: Date.now(),
      mouseOver: Object
    };
  },
  mounted() {
    const boardLayer = document.getElementById('boardLayer');
    const stonesLayer = document.getElementById('stonesLayer');
    this.boardCanvas = boardLayer.getContext('2d');
    this.stonesCanvas = stonesLayer.getContext('2d');
    this.drawSquares();
    this.drawStones();
    this.drawWinningLine();
  },
  watch: {
    board: {
      deep: true,
      handler() {
        this.drawStones();
        this.drawWinningLine();
      }
    }
  },
  props: {
    board: Array,
    turn: Number,
    size: Number,
    squareSize: Number,
    colors: Array,
    winningLine: Object
  },
  methods: {
    drawSquares() {
      this.boardCanvas.strokeStyle = '#ffffffaa';
      for (let i = this.squareSize; i < this.canvasSize; i += this.squareSize) {
        this.boardCanvas.moveTo(0, i);
        this.boardCanvas.lineTo(this.canvasSize, i);
        this.boardCanvas.moveTo(i, 0);
        this.boardCanvas.lineTo(i, this.canvasSize);
      }
      this.boardCanvas.stroke();
    },
    drawStones() {
      this.stonesCanvas.clearRect(0, 0, this.canvasSize, this.canvasSize);
      for (let y = 0; y < this.size; y++) {
        for (let x = 0; x < this.size; x++) {
          const offsetX = x * this.squareSize;
          const offsetY = y * this.squareSize;
          this.drawStone(this.board[x + this.size * y], offsetX, offsetY);
        }
      }
    },
    drawStone(player, offsetX, offsetY, preview) {
      if (preview === undefined) preview = false;

      if (player === undefined || player === null) return;
      if (preview) {
        this.stonesCanvas.strokeStyle = this.colors[player]?.concat('50');
      } else {
        this.stonesCanvas.strokeStyle = this.colors[player];
      }
      this.stonesCanvas.lineWidth = 3;
      this.stonesCanvas.lineCap = 'round';
      if (player) {
        const centerX = offsetX + this.squareSize / 2;
        const centerY = offsetY + this.squareSize / 2;
        this.stonesCanvas.beginPath();
        this.stonesCanvas.arc(centerX, centerY, this.squareSize / 2 - 8, 0, 2 * Math.PI);
        this.stonesCanvas.stroke();
      } else {
        this.stonesCanvas.beginPath();
        this.stonesCanvas.moveTo(offsetX + 9, offsetY + 9);
        this.stonesCanvas.lineTo(offsetX + this.squareSize - 9, offsetY + this.squareSize - 9);
        this.stonesCanvas.moveTo(offsetX + 9, offsetY + this.squareSize - 9);
        this.stonesCanvas.lineTo(offsetX + this.squareSize - 9, offsetY + 9);
        this.stonesCanvas.stroke();
      }
    },
    drawWinningLine() {
      if (!this.winningLine) return;
      const offsetFrom = Game.getOffsetFromIndex(this.winningLine.from, this.size, this.squareSize, true);
      const offsetTo = Game.getOffsetFromIndex(this.winningLine.to, this.size, this.squareSize, true);

      this.stonesCanvas.strokeStyle = this.colors[1 - this.turn];
      this.stonesCanvas.lineWidth = 4;
      this.stonesCanvas.lineCap = 'round';
      this.stonesCanvas.beginPath();
      this.stonesCanvas.moveTo(offsetFrom.x, offsetFrom.y);
      this.stonesCanvas.lineTo(offsetTo.x, offsetTo.y);
      this.stonesCanvas.stroke();
    },
    removeStone(offsetX, offsetY) {
      this.stonesCanvas.clearRect(offsetX + 3, offsetY + 3, this.squareSize - 6, this.squareSize - 6);
    },
    handleClick(e) {
      const x = Math.trunc(e.offsetX / this.squareSize);
      const y = Math.trunc(e.offsetY / this.squareSize);
      this.$emit('move', { x, y });
    },
    handleMouseMove(e) {
      const x = Math.trunc(e.offsetX / this.squareSize);
      const y = Math.trunc(e.offsetY / this.squareSize);
      if (!this.mouseOver) this.mouseOver = { x, y };
      if (this.mouseOver.x !== x || this.mouseOver.y !== y) {
        const oldTile = this.board[this.mouseOver.x + this.size * this.mouseOver.y];
        const newTile = this.board[x + this.size * y];
        if (oldTile === null || oldTile === undefined) {
          this.removeStone(this.mouseOver.x * this.squareSize, this.mouseOver.y * this.squareSize);
        }
        if (newTile === null || newTile === undefined) {
          this.drawStone(this.turn, x * this.squareSize, y * this.squareSize, true);
        }
        this.mouseOver = { x, y };
      }
    },
    handleMouseOut() {
      const oldTile = this.board[this.mouseOver.x + this.size * this.mouseOver.y];
      if (oldTile === null || oldTile === undefined) {
        this.removeStone(this.mouseOver.x * this.squareSize, this.mouseOver.y * this.squareSize);
      }
    }
  }
};
</script>

<style lang='scss' scoped>
  #boardLayer {
    background-color: #00000020;
    z-index: 1;
    position: absolute;
  }
  #stonesLayer {
    z-index: 2;
    position: absolute;
  }
  .game-view {
    width: 679px;
    height: 679px;
    position: relative;
  }
  canvas {
    border: 2px solid #ffffff22;
    left: 0;
    top: 0;
  }
</style>
