<template>
  <div class="player" :style='cssVars'>
    <span class='score'>
      {{ player.score }}
    </span>
    <span :class='{hidden: editMode}' class='playerLabel' @click='edit'>
      {{ player.name }}
    </span>
    <input
      :class='{hidden: !editMode}'
      type='text' v-model='player.name'
      @blur='handleNameBlur'
      ref='nameInput'
    />
    <input @blur='handleInputBlur' type='color' v-model='player.color'/>
  </div>
</template>

<script>
import Player from '../model/Player';

export default {
  name: 'Player',
  props: {
    player: Player.prototype
  },
  computed: {
    cssVars() {
      return {
        '--player-color': this.player.color
      };
    }
  },
  data() {
    return {
      editMode: false
    };
  },
  methods: {
    edit() {
      this.editMode = true;
      this.$nextTick(() => {
        this.$refs.nameInput.focus();
        this.$refs.nameInput.select();
      });
    },
    handleNameBlur() {
      this.editMode = false;
      this.handleInputBlur();
    },
    handleInputBlur() {
      this.$emit('change');
    }
  }
};
</script>

<style lang='scss' scoped>
  .player {
    color: var(--player-color);
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
  }

  .playerLabel {
    margin-bottom: 4px;
    user-select: none;
    cursor: pointer;
  }

  .hidden {
    display: none;
  }

  .score {
    font-size: 3em;
  }

  input {
    color: var(--player-color);
    width: 10rem;
    box-sizing: border-box;
    margin-bottom: 4px;
    background: 0;
    border: 0;
    &:focus {
      outline: 0;
    }
  }

  @media screen and (max-width: 1035px) {
    .score {
      order: 1;
    }
  }
</style>
