<template>
  <div id="app">
    <nav>
      <ul>
        <li><router-link to="/">Play</router-link></li>
        <li><router-link to="/about">About</router-link></li>
      </ul>
    </nav>
    <router-view/>
  </div>
</template>

<style lang="scss">
$text: #dedee5;
$primary: #ffbd69;
$secondary: #ff6363;
$background: #202040;
$secondaryBackground: #543864;

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $text;
  background-color: $background;
  flex-grow: 1;
}

nav {
  padding: 15px;
  margin-bottom: 30px;

  ul {
    padding: 0;
  }
  li {
    display: inline;
    &:not(:last-of-type):after {
      content: ' | ';
    }
    a {
      font-weight: bold;
      color: $secondary;

      &.router-link-exact-active {
        color: $primary;
      }
    }
  }
}

*:focus {
  outline: 0;
  box-shadow: 0 0 0 1pt $primary;
}

a {
  color: $primary;
}

.btn {
  padding: 5px 8px;
  text-decoration: none;
  background-color: #543864;
  border: 0;
  border-radius: 3px;
  color: #ffbd69;
  font-size: 1em;
  margin: 5px;
  transition: .3s;
  &:hover {
    filter: brightness(120%);
  }
}
</style>
